:root {
    --white: #fff;
    --black: #000;
    --gbColorPrincipal: #181824;
    --bgColorTodoList: #25273c;
    --ckTodoList: #303247;
    --fontColorPlaceholder: #787a91;
    --fontColor: #cbcde6;
    --btnCheckItemColor1: #69c5ff;
    --btnCheckItemColor2: #a572f0;
    --itemBorderColor: #37394e;
    --btnMenuChecked: #5676be;
    --principalFont: 'Josefin Sans', sans-serif;
}


body{
    font-size: 18px;
    font-family: var(--principalFont);
    background-color: var(--gbColorPrincipal);
}

header {
    height: 45vh;
    width: 100%;
}

main {
    display: flex;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 27px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 10px;
}

input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.header-image {
    background: url(../images/bg-desktop-dark.jpg) no-repeat;
    background-size: cover;
}

/*--  Start: Principal form and title --*/
/*--                ---               --*/

.list-container {
    display: flex;
    height: 500px;
    width: 450px;
    flex-direction: column;
}

.list-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-theme {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.button-theme input {
    opacity: 0;
    height: 0;
    width: 0;
}

.button-theme img {
    position: absolute;
}

/*--               ---              --*/
/*--  End: Principal form and title --*/


/*--  Start: Add item --*/
/*--        ---       --*/

.div-input-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    border-radius: 4px;
    padding: 15px 15px;
    margin: 30px 0 20px 0;
    box-sizing: border-box;
    background-color: var(--bgColorTodoList);
}

.div-input-todo input {
    font-family: var(--principalFont);
    border: none;
    background: none;
    margin-left: 8px;
    color: var(--fontColorPlaceholder);
}

.text-item {
    display: flex;
    align-items: center;
}

.text-item input::placeholder {
    color: var(--fontColorPlaceholder);
}

.circle-style {
    height: 20px;
    width: 20px;
    border: solid var(--ckTodoList);
    border-width: 1px;
    border-radius: 50%;
}

.btn-add-item {
    visibility: hidden;
    display: flex;
    justify-content: center;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.btn-add-item input {
    opacity: 0;
    height: 0;
    width: 0;
}

.btn-add-item img {
    position: absolute;
}

/*--       ---      --*/
/*--  End: Add item --*/


/*--  Start: Todo item --*/
/*--        ---        --*/

.list-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    padding-top: 5px;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px var(--black);
    background-color: var(--bgColorTodoList);    
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    border-bottom: solid var(--itemBorderColor);
    border-width: 1px;
    padding: 15px 15px;
    box-sizing: border-box;
    background-color: var(--bgColorTodoList);
}

.item div {
    display: flex;
    align-items: center;
}

.ck-button {
    height: 20px;
    width: 20px;
    border: solid var(--ckTodoList);
    border-width: 1px;
    border-radius: 50%;
    background-color: var(--bgColorTodoList);
    cursor: pointer;
}

.done {
    text-align: center;    
    background-image: linear-gradient(to right, var(--btnCheckItemColor1) , var(--btnCheckItemColor2));
    text-decoration: line-through;
}

.todo-text {
    font-size: 14px;
    margin-left: 8px;
    color: var(--fontColorPlaceholder);
}

.done-text {
    text-decoration: line-through;
    color: var(--fontColorPlaceholder);
}

.delete-button {
    height: 18px;
    width: 18px;
    background-color: var(--bgColorTodoList);
    background-image: url(../images/icon-cross.svg);
    background-size: cover;
    border: none;
    cursor: pointer;
}

/*--       ---       --*/
/*--  End: Todo item --*/


/*--  Start: Menu bar  --*/
/*--        ---        --*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px 15px;
    box-sizing: border-box;
    background-color: var(--bgColorTodoList);
    box-shadow: 0px 15px 20px var(--black);
}

.menu span {
    font-size: 14px;
    color: var(--fontColorPlaceholder);
}

.menu label {
    font-size: 14px;
    color: var(--fontColorPlaceholder);
    cursor: pointer;
}

.menu label:hover {
    color: var(--fontColor);
}

.menu label input {
    opacity: 0;
    height: 0;
    width: 0;
}

.menu label input:checked + a {
    color: var(--btnMenuChecked);
}

.menu button {
    font-size: 14px;
    border: none;
    font-family: var(--principalFont);
    color: var(--fontColorPlaceholder);
    background-color: var(--bgColorTodoList);
}

.menu button:hover {
    color: var(--fontColor);
    cursor: pointer;
}

/*--       ---       --*/
/*--  End: Menu bar  --*/